body {
    background-color: #f0f0f0;
}

nav ul li {
    font-size: 120px;
       
}

.nav-icon{
    margin-right: 10px;
}

.input-field.col label, .input-field.col {
    color: white;
}

.submit-btn{
    font-weight: 500;
    font-size: 25px;
    color: #00897b;
}

.red-card{
    background-color: red;
    color: red;
}

.yellow-card{
    background-color: yellow;
    color: yellow;
}

@media only screen and (max-width: 688px) {
    .hidden {
        display: none;
    }

}

.injured {
    color: red;
}

.uninjuerd {
    color: green;
}