/* Buttons */
.submit-btn{
    font-weight: 500;
    font-size: 25px;
    color: #00897b;
}

/* Colours */
.red-card{
    background-color: red;
    color: red;
}

label {
    color: white;
}

.yellow-card{
    background-color: yellow;
    color: yellow;
}

.injured {
    color: red;
}

.uninjuerd {
    color: green;
}

.input-field.col label, .input-field.col {
    color: white;
}

body {
    background-color: #f0f0f0;
}

/* Text */
.title{
    text-align: center;
    color: #f0f0f0;
}

nav ul li {
    font-size: 120px;       
}

/* Misc */
th, td {
    text-align: center;
}

.nav-icon{
    margin-right: 10px;
}

.teal-text{
    color: #00897b;
}

.white-text {
 color: white;
}