{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col s12 m10 offset-m1 l6 offset-l3">
        <div class="card-panel teal">
            <div class="row">
                <div class="title">
                    <h1>Update User</h1>
                </div>
            </div>
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_manager') }}">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="first_name" id="first_name"
                                type="text" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input required name="last_name" id="last_name"
                                type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input required name="team_name" id="team_name" type="text"
                                class="validate">
                            <label for="last_name">Team Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input required name="contact_number" id="contact_number"
                                type="tel" class="validate">
                            <label for="contact_number">Contact Number</label>
                        </div>

                        <div class="input-field col s6">
                            <input required name="email" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="col s12 btn-large teal darken-1">
                            Update
                        </button>
                    </div>


                </form>
            </div>            
        </div>
    </div>


</div>
{% endblock %}