{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card-panel teal">
            <h1>Team Name</h1>
            <br>
            <h2>Manager Name</h2>
            <div class="row">
                <a href="{{ url_for('get_squad') }}"><button class="col s12 btn-large teal darken-1">
                        Update Squad
                    </button></a>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large teal darken-1">
                    Update Fixtures
                </button>
            </div>
            <div class="row">
                <!-- Modal Trigger -->
                <button data-target="modal1" class="btn modal-trigger">Update Profile</button>

            </div>
            <!-- <div class="row">
                <a href="#"> <button type="submit" class="col s12 btn-large teal darken-1">
                        Sign Out
                    </button>
                </a>
            </div> -->
        </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <form class="col s12" method="POST" action="#">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Arsène" name="first_name" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Wenger" name="last_name" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="Arsenal" name="team_name" id="team_name" type="text" class="validate">
                    <label for="team_name">Team Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="01234567891" name="contact_number" id="contact_number" type="tel"
                        class="validate">
                    <label for="contact_number">Contact Number</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="a.wenger@arsenal.co.uk" name="email" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large teal darken-1">
                    Update
                </button>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>

{% endblock %}